        
        fieldset {
            padding: 1em;
            font:80%/1 sans-serif;
            padding-bottom: 15px;
            margin: 10px;
            border: 2px solid green;
            background-color: lightblue;
        }
        legend {
            padding: 0.2em 0.5em;
            border:1px solid green;
            color: white;
            font-size:100%;
            background-color: #4ABDAC;
        }
        form  { display: table; padding-left: 10% }
        p     { display: table-row;}
        p:hover { transform: scale(1.15); }
        label { display: table-cell; text-align: right; padding-right: 10px; width: 150px; vertical-align: center}
        input { display: table-cell; align-content: left ;  }
        .bt_low{
            color: white;
            background-color: coral;
            width: 50px;
        }
        .bt_high{
            color: white;
            background-color: #829356;
            width: 50px;
        }
        img{
            max-width:180px;
        }

        .error{
            color: red;
            text-align: left;
            font-size: 15px;
            width: 500px;
        }
        .formsubmit{
            margin-left: 10px
        }